In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

df_dataset = pd.read_csv('base-estudio-hogares-2017.csv', sep=",")

df_dataset

/tmp/ipykernel_32612/537454034.py:5: DtypeWarning: Columns (72,114,293,304,306,460,463,465,472) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dataset = pd.read_csv('base-estudio-hogares-2017.csv', sep=",")

,ID,REGION,Provincia,pondera_dem,tothogar,p1,p2,p3,p3.ot,p6.1a,...,p192_5,p192_9,p193.a,p193.b,p193.c,p193.d,p193.e,p193.f,p193.g,p193.h
0,37,2,2,2399,4,1,1,1,,1,...,,,2,2,2,9,2,3,2,3
1,59,2,2,1986,2,1,1,1,,1,...,,,2,3,1,1,3,3,2,4
2,64,2,2,1336,3,1,1,1,,1,...,,,3,4,2,2,3,3,2,4
3,116,2,1,4706,3,1,1,4,,1,...,,,1,3,1,1,4,4,1,4
4,121,2,1,11945,3,1,1,1,,1,...,5,,3,4,4,1,3,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20653,7862,4,22,202,2,2,3,1,,1,...,5,,2,2,2,2,3,3,2,3
20654,20249,4,22,147,2,1,3,1,,1,...,,,2,3,2,1,2,3,1,3
20655,8443,4,3,144,6,1,3,1,,1,...,5,,2,9,9,2,9,9,9,9
20656,15917,4,17,444,2,2,3,1,,1,...,,,1,3,1,3,2,2,1,3
20657,19801,4,24,919,1,1,3,1,,1,...,5,,2,2,2,2,3,3,2,3

In [5]:
df_dataset.isna().sum()

ID             0
REGION         0
Provincia      0
pondera_dem    0
tothogar       0
              ..
p193.d         0
p193.e         0
p193.f         0
p193.g         0
p193.h         0
Length: 507, dtype: int64

In [3]:
df_dataset.shape

(20658, 507)